.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  color: white;
  background-color: #50af77;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.productListDelete {
  color: red;
}
