.newProduct {
  flex: 4;
}

.newProductForm {
  margin-top: 10px;
}

.newProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.newProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.newProductItem > input {
  padding: 10px;
}

.newProductItem > select {
  padding: 10px;
}

.newProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
