.sidebar {
  flex: 1;
  background-color: rgb(252, 252, 252);
  height: calc(100vh - 50px);
  /* 50px refers to topbar, for not overflow */
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(173, 170, 170);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(255, 241, 241);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
